body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  display: flex;
  height: 100vh;
  position: relative;
}

.sidebar {
  background-color: #fbfbfb;

  width: 20em;
  height: 100%;
  max-width: 20em;
  min-width: 20em;

  position: fixed;

  border-right-style: solid;
  border-right-color: #e4e4e4;
}

.main {
  background-color: #fbfbfb;
  width: 100%;
  margin-left: 20em;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}

.notes-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.note-card {
  padding: 0.5em;
  border-bottom-style: solid;
  border-bottom-color: #e4e4e4;
  position: relative;
}

.note-card:hover {
  background-color: #efefef;
}

.selected {
  padding-left: 1em;
}

.selected:before {
  content: '';
  position: absolute;
  display: block;
  background-color: #dd4c4f;
  width: 0.5em;
  height: 100%;
  top: 0;
  left: 0;
}

#openbtn {
  font-size: 1em;
  cursor: pointer;
  background-color: #dd4c4f;
  color: white;
  padding: 0.5em;
  margin-bottom: 1em;
  border: none;
  border-radius: 0.5em;
  display: none;
}

#openbtn:hover {
  background-color: #444;
}

.open {
  left: 0;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 768px) {
  .sidebar {
    position:absolute;
    z-index: 999;
    left: -20em;
  }

  .main {
    display: block;
    width: 100%;
    margin-left: 0;
  }

  #openbtn {
    display: inline-block;
  }
}
